@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box-lg {
        @apply max-w-[1200px] mx-auto;
    }
    .box {
        @apply max-w-[850px] mx-auto;
    }
    .nav-link {
        @apply mx-3 font-medium block dark:text-white text-center py-3 md:py-0 md:w-auto md:inline;
    }
    .frame {
        @apply  pt-10 pb-20 dark:bg-black dark:text-slate-200;
    }
    .menu-link {
        @apply border-2 border-black dark:border-slate-200  p-1 rounded-lg mx-1 md:mx-2 duration-300 hover:mx-3 hover:scale-110;
    }
}

@layer base {
    a {
        @apply hover:text-purple-400;
    }
    header {
       @apply box-lg sticky py-2 top-0 z-50 bg-transparent dark-line; 
    }
    nav {
        @apply w-11/12 shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:border dark:border-zinc-700 dark:shadow-zinc-800/90 dark:shadow-md relative bg-white/90 dark:bg-black/90 backdrop-blur-sm rounded-3xl h-14 flex flex-col md:flex-row justify-center items-center md:items-center px-5 max-w-[1200px] mx-auto;
    }
}

main {
    animation: fadding 2s;
}

.question-content {
    height: 0;
}
.question-action:focus + .question-content {
    height: auto;
}

.question-action:focus .question-point {
    transform: rotate(90deg);
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;    
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    .bg-dark {
        background-color: #0a0a0a;
    }
    .dark-line {
        border-color: #242424;
    }

}

@keyframes fadding {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}