@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

.use-font {
  font-family: "Fuzzy Bubbles", cursive;
}

::-webkit-scrollbar {
  display: none;
}

.changename:hover span {
  display: none;
}
.changename:hover::before {
  content: "Nawasan ";
}

.bg-beautiful {
  background-image: url("/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat, repeat;
}

@media print {
  @page {
    margin: 0;
    padding: 0;
    size: A4 landscape;
  }
  .sakura {
    display: none;
  }
  img {
    height: 100vh;
  }
}
.text-heading {
  height: 0;
  transition: 1s;
  overflow: hidden;
}
.img-block:hover .text-heading {
  transition: 1s;
  height: 35px;
}

.descript-hide {
  height: 200px;
  transition: 1s;
}
.img-block:hover .descript-hide {
  padding: 0;
  height: 0px;
  transition: 1s;
  border-color: transparent;
}

.img-block:hover .img-hover {
  height: 200px;
  transform: scale(1);
  transition: 1s;
}
.img-hover {
  transition: 1s;
  height: 0;
}

.img-block:hover .link-contact {
  visibility: visible;
  height: 35px;
  transition: 1s;
}
.link-contact {
  visibility: hidden;
  height: 0;
  transition: 1s;
}

.marquee {
  height: 20px;
  overflow: hidden;
  position: relative;
}

.marquee p {
  position: absolute;
  margin: 0;
  line-height: 20px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  animation: scroll-left 30s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.preview {
  animation: first_preview 0.7s;
}

@keyframes first_preview {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
